<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8"/> 
		<title>仓库管理员</title>
        <script type="text/javascript" src="../vue.js"></script>
        <link rel="stylesheet" type="text/css" href="../style.css"> 
    </head>
    <body>
        <div id="root">
            <div id="menu">
                <top_menu></top_menu>
                <left_menu></left_menu>
            </div>
            <div class="article">
                <h1>仓库进货需求</h1>
                <div class="form_div" v-for="(p,index) of jhxq" :key="index">
                    <h3 style="margin: 0px;">需求#{{index+1}}</h3>
                    货物ID:&nbsp<input type="text" v-model="jhxq[index].kind">
                    货物种类:&nbsp<input type="text" v-model="jhxq[index].name">&nbsp&nbsp&nbsp&nbsp
                    需求量:&nbsp<input type="number" v-model="jhxq[index].num"><br>
                    需求仓库:&nbsp{{jhxq[index].src}}&nbsp&nbsp&nbsp&nbsp
                    状态:&nbsp{{jhxq[index].status}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button v-on:click="save" style="float: right;font-size:large">提交修改</button>
                </div>
                <div class="form_div">
                    <h2 style="margin: 0px;">新建进货需求</h2>
                    货物ID:<input type="text" v-model="temp[0]">&nbsp&nbsp&nbsp&nbsp
                    货物种类:<input type="text" v-model="temp[1]">&nbsp&nbsp&nbsp&nbsp
                    数量:<input type="number" v-model="temp[2]"><br>
                    仓库：当前仓库&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button v-on:click="add_jhxq" style="float: right;font-size:large">创建调货任务</button>
                </div>
            </div>
        </div>
        <script  type="text/javascript" src="./main.js"></script>
        <script  type="text/javascript" src="../data.js"></script>
    </body>
</html>