<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8"/> 
		<title>仓库管理员</title>
        <script type="text/javascript" src="../vue.js"></script>
        <link rel="stylesheet" type="text/css" href="../style.css"> 
    </head>
    <body>
        <div id="root">
            <div id="menu">
                <top_menu></top_menu>
                <left_menu></left_menu>
            </div>
            <div class="article">
                <h1>确认进货到货</h1>
                <div class="form_div" v-for="(p,index) of jhd" :key="index">
                    <h3 style="margin: 0px;">进货单#{{index+1}}</h3>
                    货物ID:&nbsp{{jhd[index].kind}}&nbsp&nbsp&nbsp&nbsp
                    货物种类:&nbsp{{jhd[index].name}}&nbsp&nbsp&nbsp&nbsp
                    数量:&nbsp{{jhd[index].num}}<br>
                    供货商:&nbsp{{jhd[index].src}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    状态:&nbsp<select v-model="jhd[index].status">
                        <option value="等待送货员送货">等待送货员送货</option>
                        <option value="已送达">已送达</option>
                    </select>
                    <button v-on:click="save" style="float: right;font-size:large">提交修改</button>
                </div>
            </div>
        </div>
        <script  type="text/javascript" src="./main.js"></script>
        <script  type="text/javascript" src="../data.js"></script>
    </body>
</html>